
body{
    padding: 0;
    margin: 0;

}
.navbar{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    justify-items: center;
    align-items: center;
    z-index: 10;
    position: fixed;
}



.logo{
    width: 100px;
    height: inherit ;
    
}

.headertext{
    font-size: 10px;
    color: rgba(214, 205, 180, 0.932);
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 150px;
    margin-right: 150px;

    

}

.menubar{
    font-size: 30px;
    color: rgba(196, 118, 30, 0.836);
     column-gap: display;
     display: flex;
     gap: 200px;
     justify-content: right;
}


.closebar{
    font-size: 30px;
    color: rgba(196, 118, 30, 0.836);
     column-gap: display;
     display: flex;
     gap: 200px;
     justify-content: right;


}

.backimage{
    height: 80vh;
    width: 100vw;
    position: relative;
}

.backimage2{
    height: 100vh;
    width: 100vw;
    position: fixed;
}


.backgroundheaderimage{
    width: 100%;

    height: inherit;
    transition: transform 0.3s;
    overflow: clip;
       object-fit: cover;
}


#subtext2{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-overlay {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    opacity: 0.7;
      position: absolute;
     top: 8%;
}
 
.luxurytext{
    font-size: 100px;
    color: rgba(124, 98, 31, 0.781);
}


.linksgrid{
    justify-content:center;
    align-items: center;
    display: flex;
    position: static;
    padding-bottom: 400px; 
    box-sizing: inherit;
    container: round;
    grid: 1fr, 1fr, 1fr, 1fr;
    height: 0%;
    color: rgba(124, 98, 31, 0.671);
    justify-content: space-around;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 70px;
}
    

.roundimage{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius:  50%;
    margin-left: 70px;
}

.roundimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navlinkimage{
    image-resolution: 10px;
}

.searchbar{
    width: 150px;
    border-radius: 6px;
    opacity: 50px;
    background-color: rgba(139, 59, 84, 0.63);
    margin-top: 50px;

}
.section3{
    display: flex;
    justify-content: row;
    justify-content: center;
}

.section3I{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 70px;
    overflow: hidden;
    border-radius:  50%;
}

.section3T{
    font-size: 10px;
    width: 100px;
}

#floating-nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: none;
    background-color: black;
}